<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            
        </div>
    
        <div class="navbar-search">
            <input type="text" placeholder="Buscar..." />
        </div>
    
        <div class="navbar-right">
            <img src="./imaxenes\iconos\Notifications.png" alt="Notificaciones" />
            <img src="./imaxenes/iconos/Profile.png" alt="Usuario" />
        </div>
    </header>

 <aside class="sidebar">
    <div class="logo">
        <a href="#"><img src="./imaxenes/iconos/Oval.png" alt="Menú"></a>
    </div>
    <nav>
        <a href="#"><img src="./imaxenes/iconos/Home.png"alt=Home></a>
        <a href="#"><img src="./imaxenes/iconos/Persoas.png" alt="Clientes"></a> 
        <a href="#"><img src="./imaxenes/iconos/Rectangle.png" alt="Facturas"></a>
        <a href="#"><img src="./imaxenes/iconos/Shape.png" alt="Configuracion"></a>   
    </nav>
 </aside>
 <main class="contenido-principal">
    <h1 class="titulo-home">HOME</h1>

    <div class="imaxenes-flex">
        <div>
            <a href="/invoices"><img src="/imaxenes/invoices.png"/></a>
        </div>
        <div>
            <a href="/cesta"><img src="/imaxenes/cesta.png"/></a>
        </div>
        <div>
            <a href="/clientes"><img src="/imaxenes/customers 1.png"/></a>
        </div>
    </div>
    <div class="imaxenes-flex">
        <div>
            <a href="/graficas"><img src="/imaxenes/graphs.png"/></a>
        </div>
        <div>
            <a href="/axustes"><img src="/imaxenes/settings 1.png"/></a>
        </div>
        <div>
            <a href="/productos"><img src="/imaxenes/productos.png"/></a>
        </div>
    </div>
</main>
    
    <script type="module" src="../javascript/bundle.js"></script>
</body>
</html>